<div class="jumbotron center">
	<h1>about</h1>
	<p>ello = short for hello</p>
	<% if user_signed_in? %>
	<p>ello is a platform to connect believers and foster community across the city</p>
	<% end %>
</div>