<div class="jumbotron">
	<h1>Welcome to Ello!</h1>
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg"%></p>
</div>

<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

