<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %>, your signup for ello has been approved!</h3>
    <br/>
  </body>
  <footer>
    <h3>Go to <a href="www.ellonyc.com">www.ellonyc.com</a> and login.</h3>
  </footer>
</html>